.env
node_modules/
uploads/*
!uploads/.gitkeep
!uploads/gallery/
uploads/.tmp/

# Dependencies
/node_modules
/.pnp
.pnp.js

# Build
/dist
/.next

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.example

# Logs
npm-debug.log*

# OS
.DS_Store

# IDEs and editors
.idea   

# Vscode
.vscode

# Mac
.DS_Store

# Windows
Thumbs.db

# zip files
*.zip

# env files
.env    

# md 
modules/
modules/**/node_modules/
MODULE_02.md
MODULE_03.md
MODULEE004.md
MODULE_05.md
MODULE_06.md
MODULE007.md
README00.md
README003.md
MIGRATION_0007.md