.env
node_modules/
uploads/*
!uploads/.gitkeep
!uploads/gallery/
uploads/.tmp/

# Ignore environment variable files
.env

# Ignore log files
*.log

# Ignore build artifacts
dist/

# Ignore OS-specific files
.DS_Store

# Ignore IDE-specific files
.idea/

# Ignore VScode-specific files
.vscode/

# Ignore zip files
*.zip

# Ignore md files
# *.md
README004.md
MIGRATION_0007.md

